/dts-v1/;
/plugin/;

/ {
    compatible = "onion,omega2";

    fragment@0 {
        target = <&i2c0>;  // adapt to your bus if needed

        __overlay__ {
            pca9635: pca9635@08 {
                compatible = "nxp,pca9635";
                reg = <0x08>;
                #address-cells = <1>;
                #size-cells = <0>;

                led@0 {
                    label = "user:led0";
                    reg = <0>;
                };

                led@1 {
                    label = "user:led1";
                    reg = <1>;
                };
                // Add more as needed
            };
        };
    };
};
